<div class="list-usuario d-flex flex-column justify-content-between gap-5">
  <div class="page-header w-100 d-flex justify-content-between align-items-center">
    <p class="logo align-self-start">npvet</p>
    <p class="title text-center flex-grow-1">Usuários</p>
</div>
  <div class="action-register d-flex align-items-center gap-2" routerLink="/usuario/register">
    <i class="bi bi-plus"></i>
    <a href="usuario/register">Cadastrar novo Usuário</a>
  </div>
    <div class="w-80 h-100">
        <app-mensagem [isErro]="isErro" [mensagem]="mensagem"></app-mensagem>
        <div class="d-flex justify-content-between mb-3">
            <h3 class="table-title">Usuarios Cadastrados</h3>
        </div>
        <app-table [headers]="callHeaders()" [apiUrl]="apiUrlPath()" [editPath]="'usuario/edit'"
            [entidade]="'Usuario'" [showToggle]="true" [detailsPath]="'usuario/details'"></app-table>
    </div>

</div>
