<div class="list-usuario d-flex flex-column align-items-start gap-4">
  <div class="page-header w-100 d-flex justify-content-between align-items-center">
    <p class="align-self-start">LOGO</p>
    <h1 class="text-center flex-grow-1">Usuários</h1>
</div>
  <div class="action-register d-flex align-items-center gap-2" routerLink="/register">
    <i class="bi bi-plus"></i>
    <a href="usuario/register">Cadastrar novo Usuário</a>
  </div>
    <div class="w-75 h-100">
        <app-mensagem [isErro]="isErro" [mensagem]="mensagem"></app-mensagem>
        <div class="d-flex justify-content-between mb-3">
            <h3 class="table-title">Usuarios Cadastrados</h3>
        </div>
        <app-table [headers]="callHeaders()" [apiUrl]="apiUrlPath()" [editPath]="'/update'"
            [entidade]="'Usuario'" [showToggle]="true" [detailsPath]=""></app-table>
    </div>

</div>
