
<div class="listar-usuarios d-flex flex-column">
  <app-header [title]="'Animais'" [routerLink]="'/'"></app-header>
  <div class="action-register d-flex align-items-center gap-2" routerLink="/register">
      <i class="bi bi-plus"></i>
      <a href="animal/register">Cadastrar novo Animal</a>
  </div>
  <div class="w-100 h-100 d-flex flex-column justify-content-center align-items-center table-container">
      <div class="w-75 h-100">
          <app-mensagem [isErro]="isErro" [mensagem]="mensagem"></app-mensagem>
          <app-table  [title]="'Animais Cadastrados'" [headers]="callHeaders()" [apiUrl]="apiUrlPath()" [editPath]="'animal/update'"
          [entidade]="'Animal'" [showToggle]="true"></app-table>
      </div>
  </div>
</div>